blinker
cachetools
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Cors
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
oauthlib
opencv-python
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pymongo
python-dotenv
requests
requests-oauthlib
rsa
scikit-learn
scipy
threadpoolctl
tqdm
typing_extensions
urllib3
Werkzeug